<!DOCTYPE html>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<div class="text-center">
    <h1>Welcome to Midwest Charm Hair and Beauty</h1>
    <h1>By Jackie Wilkes</h1>
</div>
